<footer>
    <div class="container-footer">
        <div class="row">
                <div class="logo">
                    <span class="material-symbols-outlined">
                        photo_camera
                        </span>
                </div>
                <p class="pe">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                <div class="row footer-links">
                    <div class="col2">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Mobile</a></li>
                        </ul>
                    </div>
                    <div class="col2">
                        <h3>Contact</h3>
                        <ul>
                            <li><a href="#">Why Travlog?</a></li>
                            <li><a href="#">Partner with us</a></li>
                            <li><a href="#">FAQ's</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col2">
                        <h3> Meet Us</h3>
                        <ul>
                            <li>+00 92 1234 56789</li>
                            <li>info@travlog.com</li>
                            <li>205. R Street, New York BD23200</li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</footer>