#body { 
  text-align: center ;
}
#tablemain {
  align-self: center ; 
  border-collapse: collapse;
  display: flex; justify-content: center;
  
}

#tablemain td {
  border: 1px solid black;
  border-collapse:collapse ;
  vertical-align: top;
}

.tablemonth td {
  border: none !important;
  
}

table tr:nth-child(1) {
    color: black; 
}
h1 {
  color: black;
  font-family: verdana;
  font-size: 300%
}
 p {
  color: gray;
  font-family: 'Times New Roman';
  font-size: 100%
 }