<!-- HEADER -->
<header class="header">
	<img
		class="logo"
		src="/public/assets/robin.png"
	/>
	<nav>
		<div class="nav-item">
			<a href="/">Home</a>
		</div>
		<div class="nav-item">
			<a href="/login">Login</a>
		</div>
		<div class="nav-item">
			<a href="/register">Register</a>
		</div>
	</nav>
</header>