* {
    margin : 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    box-sizing: border-box;
}
img { 
    max-width: 100%;
}
body {
    background-color: black;
    color: white;
}
header{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://assets.nflxext.com/ffe/siteui/vlv3/9134db96-10d6-4a64-a619-a21da22f8999/f6f81478-4bad-4f4a-a9ab-4fe3591ff92b/LT-en-20240115-trifectadaily-perspective_alpha_website_large.jpg) ;
    background-size: cover;
    background-position: center;
    padding: 5px 8%;
    position: relative;

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 270px;
    margin-top: 10px;
}
header .logo svg {
    fill: #e50914;
    height: 42px;
    width: 150px;
    cursor: pointer;
}
header a.button {
    display: inline-block;
    background-color: #e50914;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15px;
}
header a.button:hover {
    opacity: 0.9;
}
header select {
    background: transparent;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    padding: 6px 20px;
}

.material-symbols-outlined {
    font-size: 16px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  position:absolute;
  margin-top: 8px;
  margin-left: 5px;
}
.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 40px;
}
.header-text h1{
    font-size: 48px;
    line-height: 70px;
    font-weight: 900;
    max-width: 900px;
}
.header-text h2 {
    font-weight: 400;
    margin-bottom: 24px;
    height: 28.5px;
    margin-top: 12px;
}
.header-text p {
    height: 30px;
    font-size: 20px;
    font-weight: 400;
}
.email-signup {
    display: flex;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
.email-signup input{
    width: 370px;
    background-color: rgba(250, 250, 250, 0.194);
    flex: 1;
    margin-right: 7px;
    min-height: 55px;
    max-width: 360px;
    border: 1px solid rgba(132, 128, 128, 0.688);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    outline: none;
}
.email-signup input::placeholder {
    color: rgba(255, 255, 255, 0.686);
    padding-left: 5px;
  }
  .email-signup input:focus {
    background-color: rgba(250, 250, 250, 0.194);
    color: rgb(255, 255, 255);
    border: 2px solid rgba(250, 250, 250, 0.865) ;
    top:2px;
  }
  .email-signup button {
    width: 207px;
    background-color: #e50815;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 500;
  }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}
  .email-signup button:hover {
    background-color: #a91118;
  }
hr {
    height: 8px;
    background-color:rgba(35,35,35,1);
    border: none;
}
.features {
    padding: 50px 20%;
    font-size: 22px;
   
}
.features h1 {
    font-size: 48px;
}
.row {
    display: flex;
    width: 100%;
    align-items: center;
   
}
.features-tv {
    position: relative;
}
.features-text {
    flex-basis: 50%;
    margin-bottom: 20px;
}
.features-tv img{
   width:100%;
}
.features-tv video {
    width:65%;
    position: absolute;
    top: 110px;
    left: 100px;
    z-index: -1;
}
.features-pc {
    position: relative;
}
.features-text {
    flex-basis: 50%;
    margin-bottom: 20px;

}
.features-pc img{
   width:100%;
}
.features-pc video {
    width:65%;
    position: absolute;
    top:50px;
    left: 100px;
    z-index: -1;
}

.features-video video {
    display: block;
    width: 90%;
    margin: auto;
}
.features-text h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.features-img {
    flex-basis: 50%;
    margin-bottom: 20px;
}
.download {
    border: 2px solid #666;
    background-color: black;
    border-radius: 15px;
    padding: 8px 12px;
    height: 104px;
    width: 385px;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    text-align: center;
    align-items: center;
    position: absolute;
    margin-left: 120px;
    margin-top: -150px;
}
.download img {
    height: 80px;
    width: auto;
}
.text-col{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 15px;
}
.text-col h3 {
    font-size: 16px;
    font-weight: 500;
}
.text-col span{
    color: #0071eb;
    font-size: 14px;
    font-weight: 400;
}

.download .gif {
    height: 60px;
}
.media2 img {
    width: 400px;
    position: relative;
}
.media2 video {
    width: 293px;
    position:absolute;
    top: 62px;
    left: 52px;
}
  /* accordion */
  
  .FAQ {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 12%;
  }
  .container-faq h1{
      font-size: 48px;
      font-weight: 900;
      text-align: center;
      padding: 1rem;
      color:white;
  }
  .container-faq {
    width: 80%;
    min-height: 950px;
    background-color: black;
    margin-top: 8px; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: left;
  }
   .accordion p{
    font-size: 24px;
    font-stretch: 100%;
    text-align: center;
    padding: 24px;
    color: white;
    font-weight: 900;
  }
  .accordion {
    background-color: #2d2d2d;
    color: white;
    cursor: pointer;
    width: 70%;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 10px 20px;
    border: 1px solid black;
  }
  .accordion:hover {
    background-color: #414141;
  }
  .accordion::after {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "\f067";
  }
  .accordion.active::after {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "\f00d";
  }
  .container-faq .desc {
    width: 70%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: white;
    text-align: justify;
    background-color: #2d2d2d;
    font-size: 23px;
    padding: 0 20px; 
    box-sizing: border-box;
    height: fit-content;
    line-height: 30px;
  }