body {
}
.banner {
    width: 1920px;
    height: 42px;
    background-color: #60267F;
    font-family: 'DM Sans';
    font-size: 13px;
    font-weight: 700;
    color: white;
    position: fixed;
}
.banner p {

}
.banner a {

}